{% load static %}
{% block content %}

    {% block head %} 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,200&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/index/index.css' %}">
        

    {% endblock %}   

    <body>
        {% include "navbar/navbar.html" %} 
            
            <div>
     
                <img id="miImagen" src="{%static 'img/tomateindex.jpg' %}" />
                </div>
           
            <div style="width: 182px; height: 58px; left: 671px; top: 771px; position: absolute">
                <div style="width: 180px; height: 58px; left: 0px; top: 0px; position: absolute; background: #19692C; border-radius: 30px"></div>
                <div> <a href="{%url 'plantas'%}" style="text-decoration: none; width: 146px; height: 22px; left: 36px; top: 13px; position: absolute; color: white; font-size: 25px; font-family: Poppins; font-weight: 500; word-wrap: break-word">Leer Más</a></div>
            </div>
            <div style="width: 450px; height: 192px; left: 578px; top: 474px; position: absolute; color: white; font-size: 100px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Tomate</div>
            <div style="width: 730px; height: 86px; left: 602px; top: 431px; position: absolute; color: white; font-size: 50px; font-family: Poppins; font-weight: 600; word-wrap: break-word">¡Empieza ya!</div>
            <div style="width: 1462px; height: 969px; left: 48px; top: 1169px; position: absolute">
                <div style="width: 438px; height: 370px; left: 1024px; top: 0px; position: absolute"><span style="color: black; font-size: 30px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Sugerencias de plantas<br/></span><span style="color: black; font-size: 30px; font-family: Poppins; font-weight: 500; word-wrap: break-word">      Tomate<br/>      Pimiento<br/>      Cebolla<br/></span></div>
                <div style="width: 438px; height: 370px; left: 0px; top: 0px; position: absolute"><span style="color: black; font-size: 30px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Sobre la aplicacion web<br/></span><span style="color: rgba(0, 0, 0, 0.61); font-size: 25px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Cuida tu planta<br/></span><span style="color: black; font-size: 20px; font-family: Poppins; font-weight: 500; word-wrap: break-word">Esta apliación nos va a facilitar el proceso de saber como cuidar desde cera nuestra planta, cuenta con un sensor de humedad y llevar un control de riego, y sobre todo, si no tenemos el conocimiento, el nombre de aquella planta podemos escanear esta y nos dará los esos</span></div>
                <div style="width: 182px; height: 58px; left: 0px; top: 312px; position: absolute">
                    <div style="width: 182px; height: 58px; left: 0px; top: 0px; position: absolute; background: #19692C; border-radius: 30px"></div>
                    <div style="width: 146px; height: 22px; left: 36px; top: 13px; position: absolute; color: white; font-size: 20px; font-family: Poppins; font-weight: 500; word-wrap: break-word">Learn More</div>
                </div>
                <div style="width: 182px; height: 58px; left: 1024px; top: 312px; position: absolute">
                    <div style="width: 182px; height: 58px; left: 0px; top: 0px; position: absolute; background: #19692C; border-radius: 30px"></div>
                    <div><a style="text-decoration: none;width: 146px; height: 50px; left: 36px; top: 13px; position: absolute; color: white; font-size: 20px; font-family: Poppins; font-weight: 500; word-wrap: break-word" href="{%url 'escaner'%}">Escanear planta</a></div>
                </div>
                <img style="width: 466px; height: 370px; left: 498px; top: 0px; position: absolute" src="{%static 'img/gerplant.jpeg' %}" />
            </div>
            <div style="width: 30px; height: 44px; left: 1442px; top: 918px; position: absolute">
                <div style="width: 30px; height: 44px; left: 0px; top: 0px; position: absolute; background: #1E7E34; border-radius: 14px"></div>
                <div style="width: 1.66px; height: 0px; left: 15px; top: 23.25px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 2px white solid"></div>
                <div style="width: 1.66px; height: 0px; left: 15px; top: 14.94px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 2px white solid"></div>
            </div>
        </div>
    </body>
{% endblock %}