{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/footer/footer.css' %}">
<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h3>About us</h3>
            <p>Descripción de tu empresa o sitio.</p>
        </div>
        <div class="footer-section">
            <h3>Contacto</h3>
            <p>Correo: tu_correo@example.com</p>
            <p>Teléfono: +123456789</p>
            <p>Milagro, Ecuador</p>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; Dominio. Reservados todos los derechos. Diseñado por HTML Codex PlantFriend</p>
    </div>
</footer>
{% endblock %} 