{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/navbar/navbar.css' %}">
<nav>
    <div id="header">
        <div id="headerBackground"></div>
        <img id="headerImage" src="{% static 'img/logo.jpeg' %}" />
        <!-- <div class="headerText">FAQs</div>
        <div class="headerText3">Help</div>
        <div class="headerText2">Support</div>
        <div class="headerLine"></div>
        <div class="headerLine2"></div> -->
        <div id="title">
            <div id="titleBackground"></div>
            <a id="titleText" href="{% url 'index' %}">
                <span>Plant</span>
                <span>Friend</span>
            </a>
            <a class="menuText" href="{% url 'mostrar_plantas' %}">Plantas</a>
            <a class="menuText2" href="{% url 'reconocimiento_plantas' %}">Escaner</a>
            
            {% if user.is_authenticated %}
                <div style="text-align:left; margin-left: 30px; margin-top: -60px; font-size: 20px;">
                    <b>👤¡Hola, {{ user.username }}!</b>
                    <a class="menuText3" href="{% url 'cerrar_sesion' %}">Cerrar sesión</a>
                </div>
            {% else %}
                <a class="menuText3" href="{% url 'login' %}">Iniciar sesión</a>
            {% endif %}
            
            <a class="menuText4" href="{% url 'index' %}">Home</a>
            <a href="{% url 'misplantas' %}">
                <div id="activate">Mis plantas</div>
            </a>
        </div>
    </div>
</nav>
{% endblock %}
