{% load static %}
{% block content %}
    {% block head %} 
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mis plantas</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,200&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/misplantas/misplantas.css' %}">
        
    </head>
    {% endblock %} 

    <body>
        {% include "navbar/navbar.html" %} 
        <h2 class="titulo">Tus Plantas</h2>
        <div id="mis-plantas">
            
            
            {% if usuario_plantas %}
                
                    {% for usuario_planta in usuario_plantas %}
                    <div class="box_princ grid">
                            <img class="imagen" src="{{ usuario_planta.planta.imagen.url }}" alt="{{ usuario_planta.planta.nombre }}" style="grid-area: a;">
                            <div class="plant-details" style="grid-area: b;">
                                <h3 class="title_box">{{ usuario_planta.planta.nombre }}</h3>
                            </div>
                            <form style="grid-area: f;" action="{% url 'eliminar_planta_confirmar' usuario_planta.id %}" method="post">
                                {% csrf_token %}
                                <button  class="boton " id="trash" type="submit">🗑️</button>
                            </form>
                            <button style="grid-area: c;" class="boton" type="submit"><a   href="{% url 'vista_humedad' %}">sensor de humedad</a></button>
                            
                            <input type="file" id="real-file" hidden="hidden" />
                            
                        </div>
                    {% endfor %}
               

            {% else %}
                <p class="noregister">No tienes ninguna planta registrada.</p>
            {% endif %}
            </div>
        </div>
        
        
        
        
    {% endblock %}
  
    </body>

</html>